/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cart-product-content {
    overflow: scroll;
  }
  .cartProductTitle {
    font-size: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cart-product-content {
    overflow: scroll;
  }
  .cartProductTitle {
    font-size: 16px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cart-product-content {
    overflow: hidden;
  }
  .cartProductTitle {
    font-size: 16px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cart-product-content {
    overflow: hidden;
  }
  .cartProductTitle {
    font-size: 20px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cartProductTitle {
    font-size: 22px;
  }
}
