/* Treatment Strength Question Button */
.treatment-mdcnhold{
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 0px 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}
.treatment-title{
    margin-bottom: 20px;
}
.treatment-title h1{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0;
    color: #006a9b;
}
.treatment-mdcnhold-content{
    border: 1px solid #d4d4d4;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.treatment-content-all{
    padding: 10px 18px;
}
.treatment-heading{
    background-color: #e7e7e7;
    padding: 15px 30px;
}
.treatment-heading h3{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #006a9b;
    margin-bottom: 7px;
}
.treatment-heading h5{
    font-size: 20px;
    font-weight: 700;
    color: #006a9b;
    margin: 0;
}
.treatment-tag{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
    margin-bottom: 5px;
}
.tag-item{
    background-color: rgba(0,106,155, 0.1) ;
    margin-right: 10px;
    padding: 5px 8px;
    border-radius: 5px;
}
.tag-item p{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    color: #000;
}
.tag-item p span{
    margin-right: 5px;
    color: #006a9b;
}
.td-title{
    margin-bottom: 5px;
    color: #006a9b;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.treatment-details ul{
    padding-left: 35px;
    list-style-type: disc;
}
.treatment-questionbtn{
    padding: 0;
}
.treatment-question p{
    margin: 0;
}
.treatment-questionbtn:hover{
    border: none;
}
.treatments-mdcn-image{
    text-align: center;
}
.treatments-mdcn-image img {
    width: 70%;
    height: auto;
}
.treatmentMedicine-Tablebutton{
    justify-content: center;
}
.btn-treatmentTable{
    background-color: #fff;
    border: 1px solid #bebebe;
    border-radius: 0;
    width: 100px;
}
.tablebutton-item2{
    border-left: none;
    border-right: none;
}
.tablebutton-item1{
    border-radius: 5px 0px 0px 5px;
}
.tablebutton-item3{
    border-radius: 0px 5px 5px 0px;
}
.btn-treatmentTable:hover{
    background-color: #006a9b;
    border: 1px solid #bebebe;
    color: #fff;
}
.tablebutton-item2:hover{
    border-left: none;
    border-right: none;
}
.btn-treatmentTable.active{
    background-color: #006a9b;
    color: #fff;
    border: 1px solid #006a9b;
}
.mdcnqty{
    padding: 2px 12px !important;
    display: flex !important;
    align-items: center;
    border: 1px solid #000;
    background-color: #fff;
    color: #006a9b;
    justify-content: space-between;
    border-bottom: 0;
    border-radius: 0;
}
.mdcnqty:hover{
    background-color: #006a9b;
    color: #fff;
}
.qty-per-price{
    visibility: hidden;
    text-align: center;
}
.mdcnqty:hover .qty-per-price{
    visibility: visible;
}
.qty-pp{
    font-size: 11px;
    text-transform: capitalize;
}
.qty-pp-open{
    visibility: visible;
}
.qty-totalprice{
    margin: 0;
}
.tab-mdcnlistfirst-btn{
    border-radius: 5px 5px 0px 0px;
}
.tab-mdcnlistlast-btn{
    border-bottom: 1px solid #000;
    border-radius: 0px 0px 5px 5px;
}
.tm-image2, .tm-image3{
    display: none;
    margin: auto;
}
.tm-image{
    display: none;
}
.tm-changeimage{
    display: block;
    margin: auto;
}
.treatments-medcinetable-button{
    margin-top: 30px;
    margin-bottom: 20px;
}
.tm-tbtn{
    background-color: #006a9b;
    border: 2px solid #006a9b;
    padding: 10px 20px;
    color: #fff;
}
.tm-tbtn:hover{
    background-color: #01496b;
    border: 2px solid #01496b;
    padding: 10px 20px;
    color: #fff;
}
.tm-tbtn span{
    margin-left: 5px;
}
.treatment-mdcnModal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,106,155, 0.7);
    width: 100%;
    height: 100%;
}
.modal-hold{
    position: relative;
    width: 100%;
    height: 100%;
}
.mdcnmodal-dialog{
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translateY(-70%);
    transform: translateX(-75%);
    margin: 0;
    max-width: 100%;
}
.mdcnmodal-content{
    width: 1000px;
    height: auto;
}
.mdcnmodal-image{
    text-align: center;
}
.mdcnmodal-image img{
    width: 80%;
}
.btn-close{

}